.contact-section {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(244, 241, 241);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.hidden {
    display: none;
}

#form-message {
    margin-top: 20px;
    color: green;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    background: transparent;
    max-width: 100px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* Admin Details */
.admin-details {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    color :rgb(255, 187, 0);
    margin-bottom: 30px;
    border-radius: 5px;
}

.admin-info {   
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.admin-info .icon {
    flex: 0 0 30px;
}

.admin-info .icon span {
    font-size: 20px;
}

.admin-info .text {
    margin-left: 10px;
}

.admin-info p {
    margin: 0;
}

/* Contact Form */
.user-contact-info {
    background-color:rgb(251, 192, 0);
    padding: 38px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    resize: none;
}

.error-message {
    color: red;
}

button[type="submit"] {
    background-color: #000000;
    color: rgb(255, 204, 0);
    font-size: 16px ;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ffffff;
    color:#000000
}

body{
    background-image: url('images/img4.jpg');
    background-position: center;
    background-size: cover;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

